<div class="container">
    <div class="header">

<!--first row code-->
      <div class="row">
        <div class="LOGO col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" class="img-circle" width="60px" height="60px" src="img/udacity.svg" alt="Udacity Logo">
        </div>
        <div class="NAME col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12">
          <h3>
            PERRY KONGRUNGPARKORN
          </h3>
          <h4>
            FULL STACK DEVELOPER
          </h4>
        </div>
      </div>
    </div>

<!--main picture-->
  <div class="container">
    <div class="main">
      <div class="row">
        <img src="img/main4.jpg" id="header" class="img-responsive" alt="Grand Canyon image">
      </div>
    </div>
  </div>

<!--Featured Work section-->
<div class="container">
  <div class="under-main">
    <div class="row">
      <h2>Featured Work</h2>
    </div>
  </div>
</div>

<!--three pictures across section-->

<div class="work row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="img/bean.jpg" class="img-responsive" alt="image of the bean in Chicago">
      <h3>
        <a href="https://github.com/apk29/build_a_portfolio.git">The Bean</a>
      </h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="img/road.jpg" class="img-responsive" alt="image of a road in Death Valley">
      <h3>
        <a href="https://github.com/apk29/build_a_portfolio.git">Death Valley</a>
      </h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img src="img/utah.jpg" class="img-responsive" alt="image of Bryce Canyon National Park">
      <h3>
        <a href="https://github.com/apk29/build_a_portfolio.git">Bryce Canyon</a>
      </h3>
  </div>
</div>


</div>



</body>














 /* * {
   outline: 1px solid red !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

/*
.NAME h3 {
    text-align: right;
    color: #f68e22;
    padding-right: 13%;
}

.NAME h4 {
    text-align: right;
    color: red;
    padding-right: 13%;
}

.header {background-color: green;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

}

.row {
    border: grey;
}

.LOGO {
    padding-top: 1%;
    padding-left: 7%;
  /*  background-color: green;*/
 /* }
 /*
.NAME {
  /*  background-color: blue;*/
 /* }
 /*
.main {
 /*   background-color: grey;*/
 /*     padding: 3% 5% 0% 5%;

 /* }
 /*
.under-main {
    color: #777;
    letter-spacing: 2px;
 /*   background-color: red;*/
   /* padding-left: 5%;*/
/*text-shadow: 3px 3px #ccc;*/
 /* }
 /*
.work {
    padding-right: 1%;
    padding-left: 1%;
      /*  background-color: yellow;*/

 /* }
 /*
.work h3 {
    text-align: center;
}

.work h3 a {
    color: #777;
}

@media screen and (min-width: 990px) {
    .work {

