.NAME h3 {text-align: right;
    color: #f68e22;
}

.NAME h4 {text-align: right;
    color: red;
}

.header {background-color: white;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

}

.row {
    border: grey;
}

.LOGO {
    padding-top: 1%;
}

.container-fluid {

}

.under-main {
    color: #777;
    letter-spacing: 2px;
/*text-shadow: 3px 3px #ccc;*/
}

.work {
}

.work h3 {
    text-align: center;
}

.work h3 a {
    color: #777;
}

@media screen and (min-width: 990px) {
    .work {

    }